.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 48px 0px;
  padding: 1rem;
}

.restaurant-name {
  margin: 10px 0;
}

.restaurant-image {
  border-radius: 10px;
  width: 16rem;
  aspect-ratio: 16 / 9;
}

.hidden {
  opacity: 0;
}
